---
layout: default
home-title: Welcome
description: I am Hanqing Wang.
header-img: assets/img/hero.jpg
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | prepend: site.baseurl }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <p>{{ page.description }}</p>
</div>

<main class="g-container home-content">
    <aside class="g-sidebar-wrapper">
            <div class="g-sidebar">
                <section class="author-card">
                    <div class="avatar">
                        <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                    </div>
                    <div class="author-name" rel="author">{{ site.author }}</div>
                    <div class="bio">
                        <p>{{ site.bio }}</p>
                    </div>
                    {% if site.sns.size > 0 %}
                    <ul id="sns-links" class="sns-links">
                        {% for s in site.sns %}
                        <li>
                            <a href="{{ s[1] }}" target="_blank">
                                <i class="iconfont icon-{{ s[0] }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </section>
    
                {% if site.recommend-tags and site.tags.size>0 %}
                <section class="tags-card">
                    {% for tag in site.tags %}
                        {% if forloop.index > site.recommend-condition-size %}
                            {% break %}
                        {% endif %}
                        <a href="{{ "tags.html#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                    {% endfor %}
                </section>
                {% endif %}
            </div>
    
            {% if site.search %}
            <div class="search-card">
                <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
                <i class="iconfont icon-search"></i>
                <div class="search_result"></div>
            </div>
            {% endif %}
    
        </aside>
    <h2>Recent News</h2><br>
    <p>One paper has been accepted at CVPR 2023.</p>
    <p>One paper has been accepted by IJCV.</p>
    <p>One paper has been accepted at NeurIPS 2022 <b><font color="red">(Spotlight)</font></b>.</p>
    <p>One paper has been accepted at CVPR 2022.</p>
    <p>One paper has been accepted at CVPR 2021.</p>
    <p>One paper has been accepted at SIGGRAPH Asia 2020.</p>
    <p>One paper has been accepted at ECCV 2020.</p>
    <p>One paper has been accepted at AAAI 2019 <b><font color="red">(Oral)</font></b>.</p>
    <br><br>
    <h2>About Me</h2><br>
    <div class="article-list">
    <div class="post-cover">
    <p>Hi, I am Hanqing Wang - a fifth-year Ph.D. candidate in the <em>Media Computing and Intelligent Systems Laboratory at Beijing Institute of Technology</em>, Beijing. I am supervised by Prof. <a href="https://liangwei-bit.github.io/web/">Wei Liang</a>. In the past, I had the opportunity to collaborate with Prof. <a href="https://craigyuyu.github.io/home/">Lap-Fai(Craig) Yu</a>, Director of the <em>Design Computing and Extended Reality Group</em> at George Mason University, Virginia.</p>
    
    <p>From March to November 2017, I interned at <em>Microsoft Research Asia</em> in the VC Group, under the mentorship of researcher <a href="http://jlyang.org/">Jiaolong Yang</a>. Subsequently, I was a research intern at the <em>Inception Institute of Artificial Intelligence (IIAI)</em> between July 2019 and April 2020, advised by Prof. <a href="https://www.researchgate.net/profile/Jianbing_Shen">Jianbing Shen</a>, the laboratory's lead scientist. Currently, I am a visiting student at <em>ETH Zürich</em> in the Computer Vision Lab, supervised by <a href="https://ee.ethz.ch/the-department/faculty/professors/person-detail.OTAyMzM=.TGlzdC80MTEsMTA1ODA0MjU5.html">Luc Van Gool</a> and Prof. <a href="https://sites.google.com/view/wenguanwang/">Wenguan Wang</a>.
    </p>
    <p>My research interests are primarily in the areas of Embodied AI and Vision+X.</p>
    <p><br><a href="mailto:hanqingwang@bit.edu.cn">[Email]</a><a href="/assets/resume.pdf">[CV]</a></p>
    </div>
    <br>
    <br>
    </div>
    
    <h2>Publications</h2><br>
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                <!-- {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" href="{{ post.url | prepend: site.baseurl }}" alt="">
                </div>
                {% endif %} -->
                <div>
                    {% if post.thumbnail %}
                    <section class="post-thumbnail">
                        <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a> -->
                        <!-- <img src="{{ post.thumbnail }}" href="{{ post.url | prepend: site.baseurl }}" alt=""> -->
                        <img src="{{ post.thumbnail }}"  alt="">
                    </section>
                    {% endif %}
                    <section class="post-preview">
                        <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a> -->
                        <!-- <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"> -->
                        <h2 class="post-title">{{ post.title }}</h2>
                        <!-- </a> -->
                        {% if post.authors %}
                        <p class="post-authors">{{ post.authors }}</p>
                        {% endif %}
                        <!-- {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %} -->
                        <!-- {% if post.subtitle.size==0 or post.subtitle==nil %}
                        <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                        {% endif %} -->
                        {% if post.venue %}
                        <p class="post-venue">{{ post.venue}}<br><br></p>
                        {% endif %}
                        <div>
                            {% if post.paper %}
                            <a href="{{ post.paper }}">[paper]</a>
                            {% endif %}
                            {% if post.demo %}
                            <a href="{{ post.demo }}">[demo]</a>
                            {% endif %}
                            {% if post.code %}
                            <a href="{{ post.code }}">[code]</a>
                            {% endif %}
                            {% if post.slide %}
                            <a href="{{ post.slide }}">[slide]</a>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "tags.html#" | append: tag | pretend: site.baseurl}} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    

</main>

{% include footer.html %}
